.options {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: larger;
    
}
#html {
    background-color: #E5E5E5;
}
.header {
    background-color: #E5E5E5;
}
.button_right{
    width: 1%;
    height: 1%;
    margin-left: 1%;
    margin-top: 1%;
}