.options {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    color: black;
}
html {
    background-color: #E5E5E5;
}
.header {
    background-color: gray;
    height: 5.7%;
}
.body {
    background-color: #E5E5E5;
    text-align: center;
    height: 88%;
}
.rounded-lg-3 {
    height: 50%;
    width: 170%;
}
.options2{
    text-align: center;
}
.sveiciens{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
.footer {
    background-color: #E5E5E5;
    text-align: center;
    height: 15%;
}
.button_open{
    margin-top: 0.5%;
    margin-left: 1%;
    border: none;
    background-color: gray;
}
.button_close{
    margin-left: 1%;
    border: none;
    background-color: white;
}
.footer{
    background-color: gray;
    height: 6.3%;
}
.input{
    border-radius: 10px;
    border-color: #000;
}
.indexpic {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.navtext {
    color: black;
    text-decoration: none;
    margin: 1.5%;
}
.navbtn {
    background-color: gray;
    text-decoration: none;
    text-align: end;
}