{% extends 'layout.html' %}
{% set active_page = 'index' %}
{% block content %}
<div class="body">
    <h1 style="text-align:center;">Sveicināti jaunuzņēmumā "Iepercies"</h1>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Vēlaties izplatīt savu produktu ?</h1>
                <br>
            <p class="lead">Mēs jums varam palīdzēt ! Esam gatavi izvadāt un sekot līdzi visiem pasūtījumiem jūsu internet veikalā, lai jums tas nebūtu jādara. </p>
                <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" style="margin-left: 25%;" id="login">Pieslēgties</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4" style="margin-left: 5%;" id="register">Reģistrēties</button>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="/static/img/Financial-Projections-3.webp" alt="logo">
        </div>
      </div>
</div>
<script>
    document.getElementById("register").addEventListener("click", redirectFunction)

    function redirectFunction(){
        window.location.href = "/register"
    }

    document.getElementById("login").addEventListener("click", redirectFunction)

    function redirectFunction(){
        window.location.href = "/login"
    }
</script>
{% endblock %}