<!DOCTYPE html>
<html class="html">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='clean.css')}}">
<header class="header">
    <input type="image" src="/static/img/button-right.png" alt="button_right" class="button_right" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-left: 95%;"></button>
        </div>
        <div class="offcanvas-body">
            <img src="/static/img/logo.png" class="logo_sidebar" style="width:75%;height:25%;margin-left:10%;">
            <a class="options" href="/index">Sākums</a>
                <br><br>
            <a class="options" href="/profile">Uzņēmuma profils</a>
                <br><br>
            <a class="options" href="/statistics">Statistika</a>
                <br><br>
            <a class="options" href="/platform" >Uzņēmuma platforma</a>
                <br><br>
            <a class="options" href="/about">Par mums</a>
        </div>
        </div>
</header>
<main>
{% block content %}

{% endblock %}
</main>
<footer>
</footer>
</html>